.card_user_node_root {
    max-width: 750px;
}

.card_user_node_root ol {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card_user_node_root ol {
    display: block;
}

.card_content {
    background: rgba(10, 10, 10, 0.2);
    border: 2px solid;
    margin: 15px;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.25rem;
}

.card_content_node {
    float: left;

    height: 100px;
    width: 200px;

    font-size: 1rem;

    background: #ff2515;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;

    overflow: auto;
}

.card_hide > *:not(:first-child) {
    display: none;
}

.card_hide > *:first-child:after {
    content: "...";
}

.card_content > .title {
    font-weight: bold;
}

.card_content > .title:after {
    content: "; "
}

.card_content > .description {
    font-style: italic;
}
