.card_user_node_root {
    display: inline-block;
    max-width: 750px;
}

.card_user_node_root > .card_user_node > .card_content {
    font-size: 1.5em;
}

.card_hide > *:not(:first-child) {
    display: none;
}

.card_hide > *:first-child:after {
    content: "...";
}

.card_error {
    clear: both;
    padding: 10px;
    font-weight: bold;
    background: rgba(10, 10, 10, 0.2);
    border: 2px solid;
    color: red;
}

.card_user_node {
    clear: both;
    padding: 0 10px;
    background: rgba(10, 10, 10, 0.2);
    border: 2px solid;
    margin-bottom: 5px;
}

.card_user_node:not(:only-child) {
    margin-bottom: 10px;
}

.card_content_node {
    float: left;
    padding-left: 15px;
    margin-bottom: 5px;
}

.card_content_node > .card_content {
    width: 200px;
    height: 75px;

    overflow: auto;

    background: rgba(255, 0, 0, 0.5);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.card_user_node > .card_content {
    font-weight: bold;
    font-size: 1.15em;
}

.card_content {
    margin: 5px;
    padding-bottom: 5px;
}

.card_content > .title {
    font-weight: bold;
}

.card_content > .title:after {
    content: "; "
}

.card_content > .description {
    font-style: italic;
}
