#markdown_wrapper > * {
	width: 48%;
	height: 50%;
}

#text-input {
	float: left;
	margin-right: 2%;
}

#preview {
	float: right;
	overflow: auto;
}

label:after {
	content: ":";
	margin-right: 5px;
}

#button{

	text-align: center;
}

#button > input {
	width:30%;
}