body {
    background: #FCFFFE;
}

#node_nav_hotzone {
  margin-top: -10%;
  left: 35%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  position: fixed;
  background: blue;
  

}


 #node_nav_hotzone:hover > #node_navbar{
  transition-duration: .5s;

  margin-top: 40px;
  
}

#node_nav_hotzone:hover .menu_node > p{
  transition-duration: 2s;
  top: 40%;
}

#node_navbar:hover .list_node{  
  
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  margin-right: 30px;
  margin-left: 0;
  margin-top: 5%;
  z-index: 100;
  display: inline;
}

#node_navbar {
  height: 80%;
  width 80%;
  border-radius: 50%;
  left: 10%;
  right: 10%;
  background: grey;
*//*    top: 10%;
    /*position: absolute;*/
  margin-top: 5%;
  
}

.menu_node {
	border-radius: 50%;
  background-color: steelblue;
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  text-align: center;
  font-size: 20px;
  border: 2px solid;
}

.menu_node p {
position: relative;
top: 60%;
margin-top: 10px;

}

#menu_name {
margin-top: 100px;
height: 20%;
background: white;
font-size: 25px;
}


.list_node {
	border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #FF4747;
  margin-top: -100px;
  margin-left: 30%;
  margin-right: 0px;
  font-size: 10px;
  font-family: serif;
  text-align: center;
  z-index: 1;
  display: inline;
}