.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: #444;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

.text_graph {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    border: 2px solid;
}

.text_text {
    margin-left: 250px;
}
