<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>        
        <script src="/static/js/cardview.js" charset="utf-8"></script>        

        <link rel="stylesheet" type="text/css" href="/static/css/cardview.css">
        <link rel="stylesheet" type="text/css" href="/static/css/clearfix.css">
    </head>

    <body>
        <h1>Full Class:</h1>
        <div class="card_user_node_root" nodeid="1"></div>
        <hr>

        <h1>Class Section:</h1>
        <div class="card_user_node_root" nodeid="2"></div>
        <hr>

        <h1>Error:</h1>
        <div class="card_user_node_root" nodeid="20"></div>
    </body>
    <script>
        cardview_init();
    </script>
</html>
