<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src='/static/js/jquery-sortable-min.js'></script>
        <script src="/static/js/cardview.js" charset="utf-8"></script>        

        <link rel="stylesheet" type="text/css" href="/static/css/cardview.css">
        <link rel="stylesheet" type="text/css" href="/static/css/clearfix.css">
    </head>

    <body>
        <h1>Card View Samples</h1>

        <h2>Full Class:</h2>
        <div class="card_user_node_root" nodeid="4"></div>
        <hr>

        <h2>Many Activities:</h2>
        <div class="card_user_node_root" nodeid="5"></div>
        <hr>

        <h2>Class Section:</h2>
        <div class="card_user_node_root" nodeid="2"></div>
        <hr>

        <h2>Error:</h2>
        <div class="card_user_node_root" nodeid="20"></div>
    </body>
    <script>
        CardView.init();
    </script>
</html>
