<html>
<head>
	<script src="/static/js/markdown.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/clearfix.css">
	<link rel="stylesheet" type="text/css" href="/static/css/editor.css"> 
</head>

<body>
	<h1>Create Content</h1>
	<div class="form_fields">
		<form id="new_content" action="/api/v0/contentnode" method="put">
			<h2>
				<label for="title">Title</label><input type="text" name="title" id="title" placeholder="A Title for Your Content" size="80">
			</h2>	
			<h2>
				<label for="description">Short Description</label><input type="text" name="description" id="description" placeholder="A Short Description of the Content You're Writing" size="80">
			</h2>
			<h2>
				<label for="type">Type of Content</label><select name="type" id="type">
				<option value="text" selected>Textbook</option>
				<option value="lesson">Lesson Plan</option>
				<option value="activity">Activity</option>
				<option value="lab">Lab</option>
				<option value="tutorial">Tutorial</option>
				</select>
			</h2>

			<h2>
				<label for="min_grade">Appropriate Grades</label>  <em>min: </em><input type="number" min="1" max="12" name="min_grade" id="min_grade" inputmode="numeric"> <em>max: </em><input type="number" min="1" max="12" name="max_grade" inputmode="numeric">
			</h2>

			<h2>
				<label for="time"> Teaching Time</label><input type="number" name="time" id="time" inputmode="numeric"> <select name="time_unit">
				<option value="seconds">Seconds</option>
				<option value="mins" selected>Minutes</option>
				<option value="hours">Hours</option>
				<option value="days">Days</option>
				</select>
			</h2>

			<h2>
				<label for="standards">Standards</label><input type="text" name="standards" id="standards" placeholder="List Any School Standards for This Content. Separate them by commas." size="80">
			<h2>

			<h2>
				<label for="text-input">Content</label>
			</h2> 
			<div class="cf" id="markdown_wrapper">
				<textarea id="text-input" name="text" oninput="this.editor.update()" >Write **your content** here in [Markdown](https://daringfireball.net/projects/markdown/basics).</textarea>
				<div id="preview"> </div>
				<script>
				function Editor(input, preview) {
					this.update = function () {
						preview.innerHTML = markdown.toHTML(input.value);
					};
					input.editor = this;
					this.update();
				}
				var $ = function (id) { return document.getElementById(id); };
				new Editor($("text-input"), $("preview"));
				</script>
				</div>
			</div>
			<div id="button">
				<input type="submit" value="Create!">
			</div>

		</form>
	</div>

</body>

</html>
