<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/maker.css">
	</head>

	<body>
	    <div id="node_nav_hotzone">
			<div id="node_navbar">
				<div class="menu_node">
			  		<p>Menu</p>
				</div>
					<ul>
						<li class="list_node"><a href="mycurriculum.html">Home</a></li>
						<li class="list_node"><a href="mycurriculum.html">Overview</a></li>
						<li class="list_node"><a href="mycurriculum.html">Help</a></li>
						<li class="list_node"><a href="mycurriculum.html">Contact</a></li>
					</ul>
			</div>
		</div>
	</body>
</html>
