<!DOCTYPE HTML>
<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>        
        <script src="/static/js/markdown.min.js"></script>
        <script src="/static/js/textbookview.js" charset="utf-8"></script>        

        <link rel="stylesheet" type="text/css" href="/static/css/textbookview.css">
        <link rel="stylesheet" type="text/css" href="/static/css/clearfix.css">
    </head>

    <body>
        <div class="textbook_root" nodeid="4"></div>
    </body>
    <script>
        TextbookView.init();
    </script>
</html>

